<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label='Cache Limits'>
		<setting id='webCacheLimit' type='number' default='25' label='Number of webpages to leave in the cache'/>
		<setting id='videoLimit' type='number' default='100' label='Videos to cache per channel'/>
		<setting id='channelLimit' type='number' default='300' label='Channels to store in search cache'/>
	</category>
	<category label='Cache Delays'>
		<setting id='refreshDelay' type='number' default='1' label='Forced delay in hours for new video cache refreshing'/>
		<setting id='playlistDelay' type='number' default='48' label='Forced delay in hours for refreshing playlists'/>
		<setting id='channelPlaylistDelay' type='number' default='90' label='Forced delay in hours for refreshing the list of playlists in a channel'/>
		<!-- The below delay is 90 days in hours -->
		<setting id='channelMetadataDelay' type='number' default='2160' label='Hours to delay updating channel metadata.'/>
		<setting id='webpageRefreshDelay' type='number' default='1' label='Hours to delay redownloading webpages'/>
	</category>
	<category label='Url Requests'>
		<setting id='userAgent' type='text' default='Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.11 (KHTML, like Gecko) Chrome/23.0.1271.64 Safari/537.11' label='User Agent String'/>
	</category>
	<category label='Backup/Restore'>
		<setting label='Backup' type='action' action='RunPlugin(Plugin://plugin.video.youtubetv/?action=backupChannels)'/>
		<setting label='Restore' type='action' action='RunPlugin(Plugin://plugin.video.youtubetv/?action=restoreChannels)'/>
	</category>
</settings>
